:root {
  --main-bg-color: #FAF9FB;
  --main-text-color: #37456A;
  --main-theme-color: #FA9200;
  --medium-padding: 5px;
  --medium-border-radius: 3px;
  --small-padding: 3px;
  --small-border-radius: 1px;
}


body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
